################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C++_Tutorial/for_while_do_nested_loops/.vs/for_while_do_nested_loops/v16
/C++_Tutorial/if_else_switch/.vs/if_else_switch/v16
